<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome <%= Helpers.current_user(session).username %></h1>
<<<<<<< HEAD
    <h3>Your Balance: <%= Helpers.current_user(session).balance %></h3>
=======
    <h2><%= Helpers.current_user(session).balance %></h2>
>>>>>>> 4c5075ee5dc93afb488b6def72d27495dbf4da53
    <h2> <a href="/logout">Log Out</a></h2>
  </body>
</html>